* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    width: 100%;
    border-radius: 0.3em;
}

.main {
    width: 100%;
    background-color: #004a37;
    min-height: 90vh;
}

@keyframes animation {
    0% {
        opacity: .3;
        margin-left: 4em;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;

    }
}

.main .title-page h1 {
    font-size: 4em;
    text-shadow: 0px 0px 15px rgb(83, 83, 83);
    animation: animation ease 1.8s;

}

.main .container .row img {
    transition: 0.3s;
    animation: animation ease 1.8s;

}

.main .container .row img:hover {
    border-radius: 0.4em;
    box-shadow: 0px 0px 15px rgb(43, 43, 43);
    transform: scale(1.1);
}

.space {
    height: 2.2vh;
    width: 100%;
    background-color: #004a37;
}

.space-1 {
    height: 10vh;
}

/*phone style*/
@media (max-width: 599px) {
    .main {
        height: auto !important;
    }
}

/* Tablet styles */
@media (min-width: 600px) and (max-width: 1024px) {
    .main {
        height: auto !important;
    }
}